@page "/"

<PageTitle>SusLang Online Interpreter</PageTitle>

<h1>SusLang Online Interpreter (@("v" + Compiler.CompilerVersion))</h1>

This is an online interpreter for SusLang!<br>
SusLang is an among-us-themed esoteric programming language.
<br>
<br>
<SusLangEditor/>